
.idea/inspectionProfiles/profiles_settings.xml
.idea/dz_Import1.iml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
application/__pycache__/__init__.cpython-38.pyc
application/__pycache__/people.cpython-38.pyc
application/__pycache__/salary.cpython-38.pyc
